<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_cuentum.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_cuentum_path(@tipo_cuentum) %> |
<%= link_to 'Back', tipo_cuenta_path %>
