<% if notice != nil%>
<div class="alert alert-success">
  <p class="notice"><strong>Info! </strong><%= notice %></p>
</div>
<% end %>

<% if alert != nil%>
<div class="alert alert-warning">
  <p class="alert"><strong>Warning! </strong> <%= alert %></p>
</div>
<% end %>

