<!---start-footer---->
		  <div class="footer">
		    <div class="wrap">
		    <!--	 <div class="foot-nav">
			   	<ul>
			   		<li><a href="index.html">Home</a></li>
			   		<li><a href="about.html">About</a></li>
			   		<li><a href="contact.html">Contact</a></li>
			   	</ul>
			   	</div>	-->	
			   	<div class="copy-right">
					<p>@2016 Opencore Software.</p>
				</div>
			<div class="clear"> </div>
		</div>
	</div>