	<!---start-top-nav---->
			<div class="top-nav">
				<div class="top-nav-left">
					 <div id="nav">
				      <ul>
				        <li class="active"><a href="#">Mi Comunidad</a></li>
				        <li><a href="#">About</a></li>
				         <li><a href="#">Services</a></li>
				         <li><a href="#">Blog</a></li>
				         <li><a href="#">Projects</a></li>
				         <li><a href="#">Contact</a></li>
				     </ul>
		       </div>
		       <script>
			      var navigation = responsiveNav("#nav");
			    </script>
				</div>
				<div class="top-nav-right">
					<div class="search">
				  	<form>
				  		<input type="text" value="" />
				  		<input type="submit" value="" />
				  		<div class="clear"></div>
				  	</form>
				  </div>
				</div>
				<div class="clear"> </div>
			</div>
			<!---End-top-nav---->