
<p>
  <strong>Nombreperfil:</strong>
  <%= @perfil.nombreperfil %>
</p>

<p>
  <strong>Descripcionperfil:</strong>
  <%= @perfil.descripcionperfil %>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
